.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: color 0.25s ease;
}

.title {
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 0.25em;
  margin-bottom: 4px;
}

.title::before {
  content: "nf";
  display: block;
  font-family: var(--font-sacramento);
  font-size: 30px;
  letter-spacing: normal;
  margin-bottom: -8px;
}

.subtitle {
  text-transform: uppercase;
  font-size: 12px;
}
