:root {
  --logo-initials-font-size: 30px;
  --logo-title-font-size: 28px;
  --logo-subtitle-font-size: 12px;
}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: color 0.25s ease;
}

/* .logo:hover {
  color: #48a9a6;
} */

.logo .title {
  font-size: var(--logo-title-font-size);
  font-weight: bold;
  letter-spacing: 0.25em;
  margin-bottom: 4px;
}

.logo .title::before {
  content: "nf";
  display: block;
  font-family: var(--font-sacramento);
  font-size: var(--logo-initials-font-size);
  letter-spacing: normal;
  margin-bottom: -8px;
}

.logo .subtitle {
  text-transform: uppercase;
  font-size: var(--logo-subtitle-font-size);
}

@media only screen and (min-width: 550px) {
  :root {
    --logo-initials-font-size: 40px;
    --logo-title-font-size: 38px;
    --logo-subtitle-font-size: 14px;
  }
}
