@value desktop from './styles/breakpoints.css';

.main {
  width: 100%;
  margin: auto;
  padding: 0 var(--spacing-lg);
  min-height: calc(100vh - var(--header-height) - var(--footer-height));
  height: calc(100vh - var(--header-height) - var(--footer-height));
}

/* desktop and up */
@media only screen and desktop {
  .main {
    max-width: var(--standard-max-width);
  }
}
