@value desktop, tablet from 'app/styles/breakpoints.css';

.wrapper {
  display: grid;
  grid-template-areas:
    "b"
    "a"
    "c";
  height: 100%;
}

#logo {
  grid-area: a;
}

#photo {
  grid-area: c;
}

#copy {
  grid-area: b;
}

.placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(
    109.5deg,
    rgba(229, 233, 177, 1) 11.2%,
    rgba(223, 205, 187, 1) 100.2%
  );
}

.block {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

/* tablet  */
@media only screen and tablet {
  .wrapper {
    grid-template-areas:
      "b b b"
      "b b b"
      "a c c";
  }
}

/* desktop and up */
@media only screen and desktop {
  .wrapper {
    grid-template-areas:
      "b b a"
      "b b c"
      "b b c";
  }
}
