.logo {
  height: 100%;
  width: var(--header-height);
  border-right: var(--spacing-sm) solid var(--dark-color);
  font-family: var(--font-sacramento);
  font-size: 30px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo:hover {
  color: var(--secondary-color);
  cursor: pointer;
}

.link:hover {
  text-decoration: none;
}
