.footer {
  background-color: var(--dark-color);
  color: var(--light-color);
  width: 100%;
  height: var(--footer-height);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-md);
}

.footer .links {
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
}

.footer .tagline {
  font-family: var(--font-sacramento);
  font-size: 26px;
  margin: var(--spacing-md) 0 var(--spacing-xs) 0;
}

.footer .tagline .source {
  display: block;
  text-align: center;
  font-family: var(--body-font);
  font-size: 0.9rem;
}

.footer .copyright {
  font-size: 12px;
}

@media only screen and (min-width: 550px) {
  .footer .tagline .source {
    display: inline-block;
    text-align: center;
  }
}
